altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
et_xmlfile
gitdb
GitPython
idna
Jinja2
joblib
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
nltk
numpy
openpyxl
packaging
pandas
pillow
protobuf
pyarrow
pydeck
python-dateutil
pytz
referencing
regex
requests
rpds-py
scikit-learn
scipy
six
smmap
streamlit
tenacity
textblob
threadpoolctl
toml
tornado
tqdm
typing_extensions
tzdata
urllib3
watchdog
